// colors
$_white: #ffffff;
$_black: #000000;
$_vivid_blue: #1473e6;
$_red: #ff0000;
$_darkRed: #d6244a;
$_orange: #f3ce0f;
$_green: #30FF00;
$_blue: #0056ff;
$_lightRed: #ef5350;
$_orangePeel: #ffa333;
$_cornflowerBlue: #7b6eff;

// app
$col-app-content-background: $_red;

// sidebar
$col-sidebar-background: $_green;
$col-sidebar-txt: $_black;

// navbar
$col-navbar-background: $_vivid_blue;
$col-navbar-text: $_black;

// footer
$col-footer-background: $_orange;
$col-footer-text: $_orange;
