@import "variables";
@import "mixins";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  // Fixes the bug:
  // https://www.igorkromin.net/index.php/2016/05/20/mobile-safari-scrolling-problem-with-an-input-field-inside-a-fixed-div/
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html, *, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  :focus {
    outline: none;
  }
}

body,
input,
select,
button,
textarea {
  background: $col-app-content-background;
  color: inherit;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  letter-spacing: 0.005rem;
}

textarea,
button,
select,
input,
body,
span,
p {
  font-size: 1.6rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-transform: none;
  text-decoration: none;
}

.app__button {
  @include button();

  &--danger {
    border-color: $col-danger;
    color: $col-danger;
  }

  &--success {
    border-color: $col-success;
    color: $col-success;
  }

  &--warn {
    border-color: $col-warning;
    color: $col-warning;
  }

  &--info {
    border-color: $col-info;
    color: $col-info;
  }
}

.app__button-raised {
  @include button-raised();
}

.app__block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $col-app-block;
  color: $col-app-block-text;
  padding: $app-block-padding;
  border-radius: 1.5rem;
}
